.spa-transition [id^='single-spa-application:'] {
  will-change: transition, filter;
}

.spa-transition [id^='single-spa-application:']:not([class]) {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  top: var(--spa-transition-top, 0);
  left: var(--spa-transition-left, 0);
  width: var(--spa-transition-width, 100vw);
  height: var(--spa-transition-height, 100vh);
}

.spa-transition [id^='single-spa-application:'].enter,
.spa-transition [id^='single-spa-application:'].exit {
  position: fixed;
  background-color: var(--spa-transition-background-color, #fff);
  top: var(--spa-transition-top, 0);
  left: var(--spa-transition-left, 0);
  width: var(--spa-transition-width, 100vw);
  height: var(--spa-transition-height, 100vh);
}

/* push */

.spa-transition [id^='single-spa-application:'].push.exit,
.spa-transition [id^='single-spa-application:'].pop.enter {
  position: inherit;
  width: var(--spa-transition-width, 100vw);
  height: inherit;
  min-height: var(--spa-transition-height, 100vh);
}

.spa-transition [id^='single-spa-application:'].enter-active,
.spa-transition [id^='single-spa-application:'].exit-active {
  transition: transform cubic-bezier(0.1, 0.7, 0.1, 1) var(--spa-transition-duration, 500ms)
      var(--spa-transition-delay, 100ms),
    filter cubic-bezier(0.1, 0.7, 0.1, 1) var(--spa-transition-duration, 500ms) var(--spa-transition-delay, 100ms),
    box-shadow cubic-bezier(0.1, 0.7, 0.1, 1) var(--spa-transition-duration, 500ms) var(--spa-transition-delay, 100ms);
}

.spa-transition [id^='single-spa-application:'].push.enter {
  transform: translate3d(100vw, 0, 0);
  z-index: 1;
}

.spa-transition [id^='single-spa-application:'].push.enter-active {
  transform: translate3d(0, 0, 0);
}

.spa-transition [id^='single-spa-application:'].push.exit {
  transform: translate3d(0, 0, 0);
  filter: brightness(100%);
  box-shadow: 0 0 0 50vw rgba(0, 0, 0, 0);
}

.spa-transition [id^='single-spa-application:'].push.exit-active {
  transform: translate3d(-50vw, 0, 0);
  filter: brightness(50%);
  box-shadow: 0 0 0 50vw rgba(0, 0, 0, .5);
}

/* pop */

.spa-transition [id^='single-spa-application:'].pop.enter {
  transform: translate3d(-50vw, 0, 0);
  filter: brightness(50%);
  box-shadow: 0 0 0 50vw rgba(0, 0, 0, .5);
}

.spa-transition [id^='single-spa-application:'].pop.enter-active {
  transform: translate3d(0, 0, 0);
  filter: brightness(100%);
  box-shadow: 0 0 0 50vw rgba(0, 0, 0, 0);
}

.spa-transition [id^='single-spa-application:'].pop.exit {
  transform: translate3d(0, 0, 0);
  z-index: 1;
}

.spa-transition [id^='single-spa-application:'].pop.exit-active {
  transform: translate3d(100vw, 0, 0);
}

/* replace */

.spa-transition [id^='single-spa-application:'].replace.enter {
  transform: translate3d(0, 100vh, 0);
  z-index: 1;
}

.spa-transition [id^='single-spa-application:'].replace.enter-active {
  transform: translate3d(0, 0, 0);
}

.spa-transition [id^='single-spa-application:'].replace.exit {
  transform: translate3d(0, 0, 0);
}

.spa-transition [id^='single-spa-application:'].replace.exit-active {
  transform: translate3d(0, -100vh, 0);
}
